@use '../../../../styles' as *;

h1 {
    margin-top: 2rem;
    padding: 1rem 4rem;
    background-color: $secondary-accent-color;
}

.nothing-title {
    border-radius: 8px;
}

.note-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 1rem;
    margin: 3rem 0;
    row-gap: 2rem;
}