@use '../../../../styles' as *;

h1 {
    margin-top: 2rem;
    padding: 1rem 4rem;
    background-color: $secondary-accent-color;
}

.nothing-title {
    border-radius: 8px;
}

.note-list {
    display: grid;
    column-gap: 1rem;
    margin: 3rem 0;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    flex-wrap: wrap;
}